name: Release

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: bun install -g vsce ovsx
      - run: bun install
      - run: bun run gh:release
        env:
          CONVENTIONAL_GITHUB_RELEASER_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - run: bun run build
      - run: vsce publish -p ${{secrets.VSCE_TOKEN}}
        env:
          VSCE_TOKEN: ${{secrets.VSCE_TOKEN}}
      - run: ovsx publish -p ${{secrets.OVSX_TOKEN}}
        env:
          OVSX_TOKEN: ${{secrets.OVSX_TOKEN}}
